
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fada3e;
}
/* TESTAR ESTES TRECHO NO QUIZ*/
.container
{
  position: relative;
  width: 1000px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
}

/*=============================*/
/* TESTAR TALVEZ ESTE TRECHO NO QUIZ*/
.container .card
{
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
}
/*===============================*/

.container .card:nth-child(even)
{
  flex-direction: column-reverse;
}
.container .card .imgBx
{
  position: relative;
  width: 250px;
}
